# Ignore files and directories that should not be tracked by Git
.vscode/
*.code-workspace

# Ensure these files are ignored no matter where they are located
/.phpunit.result.cache

# Ignore vendor only in the root directory
/root/php_app.log
