# Ignore files and directories that should not be tracked by Git
.vscode/
*.code-workspace

# Ensure these files are ignored no matter where they are located
/composer.lock
/composer.json
/.phpunit.result.cache

# Ignore vendor only in the root directory
/vendor
!/root/vendor
/root/php_app.log

# Ignore dev dependencies and their binaries in root/vendor
./root/vendor/bin/.phpunit.result.cache
./root/vendor/myclabs/
./root/vendor/nikic/php-parser/
./root/vendor/phar-io/
./root/vendor/phpunit/
./root/vendor/sebastian/
./root/vendor/squizlabs/
./root/vendor/staabm/
./root/vendor/theseer/
