parameters:
  level: 6
  paths:
    - root/app
    - root/cron.php
    - root/config.php
    - root/public
  excludePaths:
    - root/vendor
  bootstrapFiles:
    - .github/phpstan-bootstrap.php

  ignoreErrors:
    - '#Variable \$\w+ might not be defined\.#'
